# **Python Basics assignments**

# Assignment 1- If- Else Assignment
Input the values of a and b as 10 and 20 respectively. Now check if a is greater or b is greater 
using if condition. Think about all the edge cases, and print the statements accordingly.

In [1]:
a,b= 10,20
if a>b:
  print('a is greater than b')
else:
  print('b is greater than a')

b is greater than a

# Assignment 2- Conditional Statement assignment
Take three user inputs and print the greatest number from those inputs using if-else condition. Edge cases if any, should also be handled.

In [4]:
x= float(input('Enter the value of x: '))
y= float(input('Enter the value of y: '))
z= float(input('Enter the value of z: '))
if (x>y and x>z):
  print('x is greater than y and z')
elif (y>x and y> z):
  print('y is greater than x and z')
elif (z>x and z>y):
  print('z is greater than x and y')
else:
  print('Either all numbers are equal or any two numbers are equal')

Enter the value of x: 10.2
Enter the value of y: 11.2
Enter the value of z: 9.2
y is greater than x and z

# Assignment 5- Loops
Create an array that is having user defined inputs and with the help of for loop, fetch all the prime numbers and print the numbers.

In [3]:
lower= int(input('Enter the lower limit: '))
upper= int(input('Enter the upper limit: '))

print('The Prime numbers between', lower, 'and', upper, 'are: ')

for x in range(lower, upper):
  if x > 1:
    for i in range (2,x):
      if (x % i) == 0:
        break
    else:
      print(x, end= ", ")

Enter the lower limit: 1
Enter the upper limit: 100
The Prime numbers between 1 and 100 are:
2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97,

# Loops Assignment
Print the numbers from 1 to 10 using while loop.

In [16]:
x=1
while x< 11:
  print(x)
  x+=1

1
2
3
4
5
6
7
8
9
10

# Loop assignment 2
Create a list that is having 10,23,4,26,4,75,24,54 values and with the help of while loop, fetch the even numbers and print the numbers.

In [2]:
lst =[10,23,4,26,4,75,24,54]

i=0
while i<len(lst):
    if(lst[i]) % 2 == 0:
        print(lst[i])
    i+=1

10
4
26
4
24
54

# Module 1: Introduction to Python Assignment - 1
1.  Create a list containing squares of numbers from 1 to 10 (HINT: use List Comprehension).
2.  Write a Function to check if year number is a leap year.
3.  Write a Function to take an array and return another array that contains the members of first array that are even.
4.  Write a Function that takes 2 arrays and prints the members of first array that are present of second array. (HINT: use Membership  Comprehension)

In [14]:
list1= {x: x*x for x in range(1,11)}
print(list1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [58]:
def checkLeap(year):
  if((year%400 == 0)or
   (year%100 != 0)and
   (year%4== 0)):
   print(f'{year} is a leap year')
  else:
    print(f'{year} is not a leap year')
year= int(input('Enter the year: '))
checkLeap(year)

Enter the year: 1700
1700 is not a leap year

In [68]:
import numpy as np
arr1= np.arange(1, 51)
arr2= arr1[arr1%2 ==0]
print(f'This is the first array: ' , '\n' , arr1)
print(f'This is the second array: ' , '\n' , arr2)

This is the first array:
 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
 49 50]
This is the second array:
 [ 2  4  6  8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48
 50]

In [72]:
def layer(num1, num2):
  for x in num1:
    if x in num2:
      print(x)
layer([9,4,0,3,4,8,3,3,9,3],[8,6,0,0,9,9,2,1,4,9])

9
4
0
4
8
9

# Module 1 - Introduction toPython Assignment - 2

#1.  Create 1st tuple with values -> (10,20,30), 2nd tuple with values -> (40,50,60).

a.  Concatenate the two tuples and store it in “t_combine”

b.  Repeat the elements of “t_combine” 3times 

c.  Access the 3rd element from “t_combine”

d.  Access the first three elements from  “t_combine”

e.  Access the last three elements from  “t_combine”

#2.  Create a list ‘my_list’ with these elements: 

a.  First element is a tuple with values 1,2,3 

b.  Second element is a tuple with values “a”,”b”,”c”

c.  Third element is a tuple with values True,False 

#3.  Append a new tuple – (1,’a’,True) to  ‘my_list’

a.  Append a new list – (“sparta”,123) to my_list 

#4.  Create a dictionary ‘fruit’where: 

a.  The first key is ‘Fruit’ and the values are  (“Apple”,”Banana”,”Mango”,”Guava”)

b.  The second key is ‘Cost’ and the values are(85,54,120,70) 

c.  Extract all the keys from ‘fruit’

d.  Extract all the values from ‘fruit’

#5.  Crete a set named ‘my_set’ with values (1,1,”a”,”a”,True,True) and print theresult

In [75]:
a,b= (10,20,30), (40,50,60)
t_combine = a+b
print(t_combine)

(10, 20, 30, 40, 50, 60)

In [78]:
t_combine_3times= t_combine*3
print(t_combine_3times)

(10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)

In [83]:
t_combine[2]

30

In [85]:
t_combine[:3]

(10, 20, 30)

In [87]:
t_combine[-3:]

(40, 50, 60)

In [99]:
num= (1,2,3)
alpha= ('a','b','c')
boolean= (True, False)
my_list= [num, alpha, boolean]
print(type(my_list))
print(my_list)

<class 'list'>
[(1, 2, 3), ('a', 'b', 'c'), (True, False)]

In [100]:
new_tuple= (1,'a',True)
my_list.append(new_tuple)
my_list

[(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True)]

In [101]:
new_list= ("sparta", 123)
my_list.append(new_list)
my_list

[(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True), ('sparta', 123)]

In [103]:
Fruit= {"Apple":85, "Banana":54, "Mango":120, "Guava":70}
Fruit

{'Apple': 85, 'Banana': 54, 'Guava': 70, 'Mango': 120}

In [104]:
Fruit.keys()

dict_keys(['Apple', 'Banana', 'Mango', 'Guava'])

In [106]:
Fruit.values()

dict_values([85, 54, 120, 70])

In [109]:
my_set= {1,1,'a','a',True,True}
type(my_set)
print(my_set)

{1, 'a'}