## Problem 1- Create tuples with values (10,20,30) and (40,50,60)

In [1]:
# create tuples a and b
a= (10,20,30)
b= (40,50,60)

In [2]:
# Concatenate a and b in t_combine
t_combine= (a+b)
print(t_combine)

(10, 20, 30, 40, 50, 60)

In [3]:
# Repeat the elements of t_combine 3 times
t_combine* 3

(10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)

In [4]:
# access 3rd element from "t_combine"
t_combine[2]

30

In [5]:
# access the first three elements from t_combine
t_combine[0:3]

(10, 20, 30)

In [6]:
# access the last three elements from t_combine
t_combine[-3:]

(40, 50, 60)

# Problem 2- Create my_list with these elements

In [7]:
# create my_list with 
# first element of tuple with values 1,2,3
# second element of list is tuple with values 'a','b','c'
# third element of list is tuple with values True, False
num= (1,2,3)
alpha= ('a','b','c')
b_lean= (True, False)
my_list= [num, alpha, b_lean]

type(num), type(alpha), type(b_lean), type(my_list)

(tuple, tuple, tuple, list)

# Problem3- Append new tuple= (1,'a',True) to my_list

In [8]:
new_tuple= (1,'a', True)
my_list.append(new_tuple)
my_list, type(my_list)

([(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True)], list)

In [10]:
# append new list["Sparta", 123] to my_list
new_list= ["Sparta", 123]
my_list.append(new_list)
my_list

[(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True), ['Sparta', 123]]

# Create a dictionary "Fruit" where,
# first key is fruits and values are ("Apple","Banana","Mango","Guava")
# second key is cost and values are (85,54,120,70)

In [24]:
Fruit= {"Apple": 85, "Banana": 54, "Mango": 120, "Guava": 70}
print(Fruit)

{'Apple': 85, 'Banana': 54, 'Mango': 120, 'Guava': 70}

In [25]:
type(Fruit)

dict

In [26]:
Fruit.keys()

dict_keys(['Apple', 'Banana', 'Mango', 'Guava'])

In [27]:
Fruit.values()

dict_values([85, 54, 120, 70])

# Create a set "my_set" with values (1,1,'a','a',True,True)

In [1]:
my_set= {1,1,'a','a',True,True}
my_set

{1, 'a'}